:root {
  // Цвета
  --bg-primary: #272525;
  --bg-secondary: #181818;
  --bg-grey: #323232;
  --bg-grey-light: #a6a6a6;

  --color-primary: #ffffff;

  --fz-l: 24px;
  --fz-m: 16px;

  // Размеры
  --sidebar-width: 200px;
  --sidebar-width-collapsed: 55px;

  --lg-width: 1000px;
}
