:root {
  // Цвета
  --bg-primary: #272525;
  --bg-secondary: #181818;

  --color-primary: #ffffff;

  --fz-l: 24px;
  --fz-m: 16px;

  // Размеры
  --sidebar-width: 200px;
  --sidebar-width-collapsed: 55px;
}
